:root {
    --border-color: gray;
}
body {
    background: #112233;
}

img {
    max-height: 300px;
    margin-bottom: 10px;
    border: solid 3px var(--border-color);
}

p {
    box-sizing: border-box;
    width: 70%;
    text-align: center;
    margin: 10px auto;
    padding: 30px;
    background: darkgray;
    border: dashed 3px var(--border-color);
    border-radius: 30px;
}
